<div class="headline">
  <h1><span>Burning</span><br>LCD AIRLINES.</h1>

  <div class="mouse">
      <span></span>
  </div>
</div>

<div id="searchWrapper">
<h1>Search and book flights</h1>

<div id="main">
  <div id="formView"></div>
  <div id="flightSearchView">
    <!-- <ul id="results"></ul> -->
  </div>
</div>



</div>

<script id="formViewTemplate" type="text/template">
  <!-- <label>From</label> -->
    <input type="text" id="origin" placeholder="Departure airport" autofocus/>
  <!-- <label>To</label> -->
    <input type="text" id="destination" placeholder="Arrival airport"/>

  <button>Search</button>
</script>

<script id="flightInfo" type="text/template">
<h2>Flight Search results.</h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Flight</th>
        <th>From > To</th>
        <th>Plane</th>
      </tr>
    </thead>

    <tbody id="flightTableBody">

    </tbody>
  </table>

</script>

<script id="flightTableTemplate" type="text/template">
<tr>
  <td>{{ date }}</td>
  <td><a href="#flights/{{ id }}">{{ id }}</a></td>
  <td>{{ origin  }} > {{ destination }}</td>
  <td>{{ plane_name }}</td>
</tr>
</script>
