<div class="headline">
  <h1><span>Burning</span><br>LCD AIRLINES.</h1>

  <div class="mouse">
      <span></span>
  </div>
</div>

<div id="searchWrapper">
<h1>Need a holiday?</h1>

<div id="main">
  <div id="formView"></div>
  <div id="flightSearchView">
    <!-- <ul id="results"></ul> -->
  </div>
</div>



</div>

<script id="formViewTemplate" type="text/template">
  <!-- <label>From</label> -->
    <input type="text" id="origin" placeholder="Departure airport" autofocus/>
  <!-- <label>To</label> -->
    <input type="text" id="destination" placeholder="Arrival airport"/>

  <button>Search</button>
</script>

<script id="flightInfo" type="text/template">
<h2>Choose Flight</h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Flight</th>
        <th>From > To</th>
        <th>Plane</th>
      </tr>
    </thead>

    <tbody id="flightTableBody">

    </tbody>
  </table>

</script>

<script id="flightTableTemplate" type="text/template">
<tr>
  <td>{{ date }}</td>
  <td>{{ id }}</td>
  <td>{{ origin  }} > {{ destination }}</td>
  <td>{{ plane_name }}</td>
  <td><button>Book</button></td>
</tr>
</script>

<script id="bookingFlightInfo" type="text/template">
  <p>
    {{ date }} {{ origin  }} > {{ destination }}
  </p>
</script>

<script id="seatTemplate" type="text/template">
  <table id="seat-view">
    <tbody id="seat-body">

    </tbody>
  </table>

</script>

<script id="reserve-panel" type="text/template">
  <div id="seat_number"></div><br>
  <button id="reserve_seat">Make reservation</button>
</script>

<script type="text/javascript">

app.user = <%== @current_user.to_json %>   // uses ruby to get id of login user

</script>

<script type="text/template" id="ticketTemplate">
  <div class="ticket-container">
    <div class="box">
      <div class="ticket">
        <span class="airline">LCD Airlines</span>
        <span class="airline airlineslip">LCD Airlines</span>
        <span class="boarding">Boarding pass</span>
        <div class="ticket-content">
          <span class="originTicket">{{origin}}</span>
          <span class="plane"><?xml version="1.0" ?><svg clip-rule="evenodd" fill-rule="evenodd" height="60" width="60" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"><g stroke="#222"><line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390"/><path d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z" fill="#222" stroke-linejoin="round" stroke-width="10"/></g></svg></span>
          <span class="destTicket">{{destination}}</span>

          <span class="originTicket originTicketslip">{{origin}}</span>
          <span class="plane planeslip"><?xml version="1.0" ?><svg clip-rule="evenodd" fill-rule="evenodd" height="50" width="50" image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg"><g stroke="#222"><line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390"/><path d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z" fill="#222" stroke-linejoin="round" stroke-width="10"/></g></svg></span>
          <span class="destTicket destTicketslip">{{destination}}</span>
          <div class="sub-content">
            <span class="watermark">LCD LCD</span>
            <span class="name">PASSENGER NAME<br><span>{{app.user.name}}</span></span>
            <span class="flight">FLIGHT N&deg;<br><span>{{flight_id}}</span></span>
            <span class="gate">GATE<br><span>11B</span></span>
            <span class="seat">SEAT<br><span>{{seat_row}} {{seat_col}}</span></span>
            <span class="boardingtime">BOARDING TIME<br><span>{{date}}</span></span>

             <span class="flight flightslip">FLIGHT N&deg;<br><span> {{flight_id}}</span></span>
              <span class="seat seatslip">SEAT<br><span>{{seat_row}} {{seat_col}}</span></span>
             <span class="name nameslip">PASSENGER NAME<br><span>{{app.user.name}}</span></span>
          </div>
        </div>
        <div class="barcode"></div>
        <div class="barcode slip"></div>
      </div>
    </div>
  </div>
</script>
