<div class="user_page">
<h1>Welcome   <%= @user.name %> </h1>

<p>Your reservations:</p>

<% @user.reservations.each do |booking| %>
  <p><%= booking.flight.date.to_s %> <%= booking.flight.origin %> - <%= booking.flight.destination %> </p>

<% end %>



<%# link_to 'Edit', edit_user_path(@user) %>
<%# link_to 'Back', users_path %>

</div>
