// MQ trigger
@mixin small {
  @media only screen and (max-width: 766px) {
    @content;
  }
}

// colors
$color: #8f8f8f;
$color2: #e8f380;

// Navigation
.main_h {
  position: fixed;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
  @include small {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
  .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid lighten($color, 30%);
}

.logo {
  font-weight: bold;
  width: 70px;
  font-size: 25px;
  color: $color;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
  @include small {
    float: none;
  }
}

a.logo {
  margin: 0 auto;
}
nav {
  float: right;
  width: 60%;
  @include small {
    width: 100%;
  }

  ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
    @include small {
      padding-top: 10px;
      margin-bottom: 22px;
      float: left;
      text-align: center;
      width: 100%;
    }

    li {
      display: inline-block;
      margin-left: 35px;
      line-height: 1.5;
      @include small {
        width: 100%;
        padding: 7px 0;
        margin: 0;
      }
    }
    a {
      color: #888888;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  @include small {
    display: block;
  }

  span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: $color;
    display: block;
  }
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}


// Page Style
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  color: $color;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  margin:0;
  padding:0;
  height:100%;
  -webkit-font-smoothing: antialiased;

}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  padding: 50px 2% 250px;
}

.headline {
  position: relative;
  background: #333 url(https://68.media.tumblr.com/c31ded5c028a9b8ad9b36722210aeead/tumblr_ol0h3pS6021sjludfo1_1280.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;


  // -webkit-filter: blur(2px);
  // -moz-filter: blur(2px);
  // -o-filter: blur(2px);
  // -ms-filter: blur(2px);
  // filter: blur(2px);

  h1 {
    font-size: 50px;
    line-height: 1.3;


    span {
      font-size: 25px;
      color: $color2;
      border-bottom: 2px solid $color2;
      padding-bottom: 12px;
      line-height: 3;
      position: relative;
    }
  }
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid $color2;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -14px;
  span {
    display: block;
    margin: 6px auto;
    width: 2px;
    height: 2px;
    border-radius: 4px;
    background: $color2;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}


@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}



// search wrapper ////////////////////////////////////////////////////////////
#searchWrapper {
  margin: 50px auto;
  text-align: center;
  // border: 1px solid grey;
  max-height: 100%;
  padding: 3em;
  border-radius: 1em;

#flightSearchView {
  // border: 1px solid grey;
  margin: 50px auto;

  width: 960px;
  background: #fafafa;
  // display: none;

  h2 {
    background: white;
    padding: 2em;

  }

  table {
    margin: 0 auto;
    text-align: center;
    // border: 1px solid grey;
    max-height: 100%;
    border-radius: 1em;
  }

  td, th {
    padding: 1em 3em;
    text-align: center;
    font-size: 15px;
  }

}





  input {
    border: none;
    border-bottom: 1px solid grey;
    width: 200px;
    height: 30px;
    margin: 2em;
    font-size: 15px;
    font-style: italic;
    padding: 0.5em;
    outline: none;
  }

  button {
    border: 1px solid grey;
    background: white;
    cursor: pointer;
    width: 100px;
    height: 30px;

  }
  button:hover {
    background: black;
    color: white;
    font-weight: bold;
  }
}

.left-inner-addon {
    position: relative;
}

.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

footer {
  background: #292c2f;
  width:100%;
  height:100px;
  bottom:0;
  left:0;
}

// sign up sign in page //////////////////////////////////////////////

.sign {
  margin: 50px auto;
  width: 400px;
  height: 600px;
}

.addForm {
  margin: 50px auto;
  width: 400px;
  height: 600px;

  input {
    width: 310px;
  }
}
